<div class="container">
	<div class="main-content">
		<div class="row">
			<div class="col-md-3">
				<div class="list-group" id="list-tab" role="tablist">
					 <a class="list-group-item list-group-item-action active" id="list-about-list" data-toggle="list" href="#list-about" role="tab" aria-controls="home">About</a>
				     <a class="list-group-item list-group-item-action" id="list-raiders-list" data-toggle="list" href="#list-raiders" role="tab" aria-controls="profile">Our Raiders</a>
				     <a class="list-group-item list-group-item-action" id="list-expectations-list" data-toggle="list" href="#list-expectations" role="tab" aria-controls="settings">Expectations</a>
				     <a class="list-group-item list-group-item-action" id="list-important-list" data-toggle="list" href="#list-important" role="tab" aria-controls="messages">Important Info</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="list-about" role="tabpanel" aria-labelledby="list-about-list">
						<h5>About Addiction</h5>
					
						<p>Addiction has long been around since the BC days of this game, though in many different forms at certain times. We have our past in some of the premier top 10 US guilds. Many of our members have a vast history of hardcore raiding.<br/><br/>

						Addiction was started with a very focused plan. We wanted to raid on a very light schedule considering most of us have complicated lives / schedules. Most of us have been in the hardcore raid scene playing 6-7 days a week and that is just something we don't want. However, we still wanted to see everything this game has to offer and play at a high level. We have achieved that and it has been great. We raid 3 days a week and kept the atmosphere and core we were after. The fact we also raid later at night helps west coast raiders be part of our team and lets people have jobs earlier in the night.<br/><br/>

						We are a tight knit group of old friends. You'd be hard pressed to find a more fun environment to play in with equally skilled players. There is always room to join our family and we would love to expand our roster a bit. Check out the recruitment section if you are interested.<br/><br/>

						If you are looking for a very laid back raid atmosphere, all the allure 20 man raiding provides, and a competitive guild who will get things done, then this might just be the new home for you. You can get all of that on a lighter, more relaxed schedule.</p>
					</div>

					<div class="tab-pane fade" id="list-raiders" role="tabpanel" aria-labelledby="list-raiders-list">
						<h5>About Our Raiders</h5>
						
						<p>Our members are passionate about the game and making this guild succeed. They are always pushing their characters to the extremes and enjoy any chance to become better. We aren't raid bots either, the raid atmosphere created by our players is one of the most enjoyable you will find. There is no raging, lots of inside jokes, and very personable players who make up this team.</p>

						<h5>What Sets Us Apart</h5>
						
						<p>We have all of the progression without the feel of being a 2nd job. Our raid schedule will never go above 3 days, even during progression. We have the allure of the 20 man raid scene. The guild is very active outside of raid time. We sell buyer runs and split the payment with the players involved, rated BGs, old achievements, challenge modes and alt runs. We have a raid atmosphere that is a step above most you may have been part of. It is very laid back and focused. It is very open door policy here at Addiction, that goes for leadership and raid etiquette. You expect to be and will be heard here. I know one of the biggest things for me when I was ever in a guild was I wanted the raid atmosphere to be something special and the people I played with to not be raid bots, and I also wanted to be able to go to the leadership if I needed to. I felt that made a guild strong. Well that is how I have always conducted my guilds, and this will be no different.</p>
					</div>

					<div class="tab-pane fade" id="list-expectations" role="tabpanel" aria-labelledby="list-expectations-list">
						<h5>Expectations</h5>

						<ul>
							<li>All applicants(including transfers)should be prepared to raid immediately after being accepted.</li>
							<li>Hard mode experience in current content ( as well as older content ) is a necessity.</li>
							<li>Ability to attend all raid days on a regular basis, with no major repeat conflicts.</li>
							<li>Mumble, and a working mic. Being able to actively participate in mumble to convey time sensitive information is of utmost importance. If you are shy or don't talk then you're screwed.</li>
							<li>A good attitude towards raiding. While we do our best to have a fun, laid back atmosphere; our goal is to compete at the top US and world levels and we expect you to be able to buckle down and focus when it is required.</li>
							<li>Be involved outside of progression raid time. We do split raids here at the beginning of the tier and alt raids once progression is over. At least 1 alt is mandatory once being accepted. We also participate quite a bit in raid sales, other games, and achievements.</li>
							<li>A sense of humor and thick skin. We often give out criticism here and call out mistakes. It can often be blunt and to the point, if that bothers you then you won't last long. Jokes are often thrown around at our own expense and are hilarious but if that offends you this may not be the home for you.</li>
							<li>Communication and responsibility. Posting under the absence thread of texting an officer is a must here. We run a light roster and this there is little room to put up with people disappearing without us knowing about it. Repeat disregard for this and you will fail your trial real quick.</li>
						</ul>
					</div>

					<div class="tab-pane fade" id="list-important" role="tabpanel" aria-labelledby="list-important-list">
					<h4>Important Info</h4>

					<h6>Raid Times (Local Time)</h6>
					<table class="table tables-sm table-striped table-dark" style="width: 200px">
						<thead>
							<tr>
								<th scope="col">Day</th>
								<th scope="col">Start</th>
								<th scope="col">End</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Tuesday</td>
								<td>10:00pm</td>
								<td>2:00am</td>
							</tr>
							<tr>
								<td>Wednesday</td>
								<td>10:00pm</td>
								<td>2:00am</td>
							</tr>
							<tr>
								<td>Thursday</td>
								<td>10:00pm</td>
								<td>2:00am</td>
							</tr>
						</tbody>
					</table>

					Voice communication: Mumble

					Loot: Loot council

					Attendance: 95% or greater.

					Alts: 1 raiding alt is required

					App Process: Submit an app on our website, and if we are interested we will contact you to set up a Mumble interview. A decision will be made immediately after the interview.

					We are currently sponsored by Gunnars gaming glasses and Command Channel mumble. Thank you to our wonderful sponsors!
					</div>
					<hr class="line">
					<h5>Contact Information</h5>
					<blockquote class="blockquote">
						<ul class="list-unstyled">
							<li>Real ID - Sean#1572</li>
							<li>In-game Characters - Saraf, Slanty, Naito, Lookatmybody, Aweetod, Ariah, Steveirwen, Nismoh, Seanny, Goldcap</li>
						</ul>
						<footer class="blockquote-footer">Addiction Guild Leadership</footer>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</div>