<div class="row">
    <div class="col-md-12">
        <form method="post" action="/login">
            <fieldset>
                <legend>Login</legend>
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" id="username" name="username" type="text" placeholder="Username" required />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" id="password" name="password" type="password" placeholder="password" required />
                    </div>
                </div>
            </fieldset>
            <input type="submit" class="btn btn-success pull-right" value="Login" />
        </form>
    </div>
</div>